/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c9c6c6;
    
}

.contraire {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.code-ren, .ajouter {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.code-ren {
    margin-right: 20px;
}

h1, h3 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="url"],
input[type="password"],
select {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"],
button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
}

/* Media Queries for Responsiveness */

@media (max-width: 768px) {
    .contraire {
        flex-direction: column;
    }
    .code-ren, .ajouter {
        margin: 0 0 20px 0;
    }
}
.ajouter {
    display: none;
}